<video src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4" controls loop dndDraggableVideo></video>

<header dndInTransit>
  <div class="drag-handle" dndDragHandle>
    <ng-container *ngTemplateOutlet="moveIcon"></ng-container>
  </div>
  <button class="home-button" *dndHomeButton>
    <ng-container *ngTemplateOutlet="homeIcon"></ng-container>
  </button>
</header>

<!-- Icons -->
<ng-template #moveIcon>
  <svg>
    <polyline points="5 9 2 12 5 15"></polyline>
    <polyline points="9 5 12 2 15 5"></polyline>
    <polyline points="15 19 12 22 9 19"></polyline>
    <polyline points="19 9 22 12 19 15"></polyline>
    <line x1="2" y1="12" x2="22" y2="12"></line>
    <line x1="12" y1="2" x2="12" y2="22"></line>
  </svg>
</ng-template>

<ng-template #homeIcon>
  <svg>
    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
    <polyline points="9 22 9 12 15 12 15 22"></polyline>
  </svg>
</ng-template>