:host {
  display: block;
  position: relative;
}

dnd-transit-container {
  height: 100%;
  width: 100%;
}

.mask {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

dnd-drop-zone {
  height: 50%;
  width: 100%;
}