:host {
  display: block;
  position: relative;
  flex-shrink: 0;
  box-sizing: border-box;
}

.mask {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.in-transit-mask {
  border: solid 8px cyan;
}

dnd-drop-zone {
  height: 50%;
  width: 100%;
}