:host {
  display: block;

  &.in-transit {
    position: fixed;
    user-select: none;

    // We need to raise the z-index to ensure that the
    // element appears above all other elements. The
    // defined value is the maximum 32-bit value, which
    // is the maximum value modern browsers support.
    z-index: 2147483647;
  }
}