<div dndDragZone>

  <div class="menu-bar">
    <button (click)="toggleDrawer()">
      <ng-container *ngTemplateOutlet="menuIcon"></ng-container>
    </button>
  </div>

  <dnd-droppable *ngIf="isDrawerOpen" @slideInOut class="drawer" name="drawer">
    <ng-container *ngFor="let video of videos; index as i">
      <ng-container *dndTemplateOutlet="draggable; context: video; id: 'draggable-' + i"></ng-container>
    </ng-container>
  </dnd-droppable>

  <div class="swappables">
    <dnd-droppable *ngFor="let i of [1,2,3,4]" swappable></dnd-droppable>
  </div>
</div>

<!-- Templates -->
<ng-template #draggable let-src="src">
  <dnd-draggable>
    <app-example dndContent>
      <video [src]="src" controls loop dndVideo></video>
    </app-example>
  </dnd-draggable>
</ng-template>

<ng-template #menuIcon>
  <svg>
    <line x1="3" y1="12" x2="21" y2="12"></line>
    <line x1="3" y1="6" x2="21" y2="6"></line>
    <line x1="3" y1="18" x2="21" y2="18"></line>
  </svg>
</ng-template>