:host {
  display: block;
  height: 100%;
  width: 100%;
}

div[appDraggableArea] {
  height: 100%;
  width: 100%;
}

div[appDragScroll] {
  width: 50%;
  height: 100%;
  overflow: auto;
}

app-droppable {
  height: 50%;
  width: 100%;
  float: left;
  box-sizing: border-box;
  border: 1px solid blue;
}

::ng-deep app-draggable {
  height: 100%;
  width: 100%;
}