<div appDragZone>

  <div class="menu-bar">
    <button (click)="toggleDrawer()">
      <ng-container *ngTemplateOutlet="menuIcon"></ng-container>
    </button>
  </div>

  <app-droppable *ngIf="isDrawerOpen" @slideInOut class="drawer" name="drawer"></app-droppable>

  <div class="swappables">
    <app-droppable *ngFor="let i of [1,2,3,4]" swappable></app-droppable>
  </div>
</div>

<ng-template #menuIcon>
    <svg>
      <line x1="3" y1="12" x2="21" y2="12"></line>
      <line x1="3" y1="6" x2="21" y2="6"></line>
      <line x1="3" y1="18" x2="21" y2="18"></line>
    </svg>
</ng-template>
