:host {
  display: block;
  height: 100%;
  width: 100%;
}

div[appDragZone] {
  height: 100%;
  width: 100%;
}

app-droppable {
  float: left;
  width: 400px;
  height: 100%;
  box-sizing: border-box;
  border: 1px solid blue;
}

::ng-deep {

  app-draggable {
    margin: 8px;

    &:not(:last-of-type) {
      margin-bottom: 0;
    }

    .shadow {
      background-color: cyan;

      * {
        opacity: 0;
      }
    }
  }
}