:host {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: auto;
}

app-scrollbar {
  height: 500px;
  width: 500px;
  border: 1px solid black;
}

.content {
  height: 2000px;
  width: 2000px;
  background-color: #ccc;
  padding: 24px;
  background-clip: content-box;
}